<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.robertmathes.android.orangeiron"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Orangeiron" >
        <activity
            android:name="de.robertmathes.android.orangeiron.OrangeIron"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.robertmathes.android.orangeiron.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="de.robertmathes.android.orangeiron.OrangeIron" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.albert.bihler.andrvoc.MainActivity" />
        </activity>
        <activity
            android:name="de.robertmathes.android.orangeiron.QuestionActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_question" >
        </activity>
        <activity
            android:name="de.robertmathes.android.orangeiron.CreateUserActivity"
            android:windowSoftInputMode="stateVisible"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name="de.robertmathes.android.orangeiron.VocabularyServerConfigActivity"
            android:label="@string/title_activity_vocabulary_server_config" >
        </activity>
        <activity
            android:name="de.robertmathes.android.orangeiron.LessonChooserActivity"
            android:label="@string/title_activity_lesson_chooser" >
        </activity>
        <activity
            android:name="de.robertmathes.android.orangeiron.AddVocabularyServerActivity"
            android:windowSoftInputMode="stateVisible"
            android:label="@string/title_activity_add_vocabulary_server" >
        </activity>
    </application>

</manifest>
